/*! 1. External CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #282c34;
}

.logo {
  color: white;
}

.btn {
  padding: 8px 15px;
  border: none;
  background-color: orange;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: darkorange;
}

.active {
  color: red;
}

/*! ✅ Why use this?
Clean
Reusable
Industry standard
Best for large projects */
